---
import Layout from "../layouts/Layout.astro";
import type { RootObject, SectionsHomeAbout } from "../interfaces/dbData";
import MapComponent from "../components/contact/Map.tsx";
import VideoAnimado from "../components/global/video/VideoAnimado";
import Directorios from "../components/home/Directorios";
import ValuesHome from "../components/home/ValuesHome.astro";
import HeroSection2 from "../components/home/HeroSection2";
import ServicesHome from "../components/home/ServicesHome2";
import ColorPalette from "../components/home/ColorPalette.astro";
import HighlightedText from "../components/global/TitleColor";
import BlockAbout from "../components/about/BlockAbout";
import HomeSectionOne from "../components/home/HomeSectionOne";
import PostComponent from "../components/home/PostComponent";

let API_URL = import.meta.env.API_URL;
// Realiza la llamada a la API
const response = await fetch(`${API_URL}`);
const data: RootObject = await response.json();
//filtrar para obtener la section de home
const homeSection = data?.sectionsHomeAbout.filter(
  (section: SectionsHomeAbout) => section.section === "home",
);
//filtrar para obtener la section de home
const dataBlocks = data?.sectionsHomeAbout.filter(
  (section: SectionsHomeAbout) => section.section === "blocks",
);
//filtrar para obtener la section de about
const aboutSection = data?.sectionsHomeAbout.filter(
  (section: SectionsHomeAbout) => section.section === "about",
);
---

<Layout
  title={`Home | ${data.name}`}
  description={dataBlocks[0].text}
  favicon={data.logos.primary}
  featuredImage={data.logos.favicon}
  keywords={data.services.map((service) => service.title).join(", ")}
>
  <!-- <Slideshow data={data} client:load /> -->
  <HeroSection2 data={data} client:load />
  <PostComponent dataBlocks={dataBlocks} client:load />
  <HomeSectionOne data={data} aboutSection={homeSection} />
  <ValuesHome data={data} />
  <Directorios client:only data={data} />
  <div class="md:pt-16 bg-white">
    <div class="flex justify-center flex-col text-center">
      <span
        class="md:text-[50px] text-primary w-[70px] h-[70px] p-4 rounded-full flex justify-center items-center mx-auto hover:bg-secondary hover:text-white
        transition duration-300 ease-in-out"
      >
        <i class="fa-solid fa-house"></i>
      </span>
      <h2
        class="text-center md:text-[60px] text-[30px] font-bold text-secondary"
      >
        Our Services
      </h2>
      <h2
        class="md:text-[40px] text-[25px] mb-2 font-bold text-center text-secondary"
      >
        <HighlightedText text={data.slogan[3]} defaultColor="black" />
      </h2>
    </div>
    <div class="py-10">
      <ServicesHome
        dbServices={data.services}
        landingServices={data.widgets.landingServices}
        dataglobal={data}
        client:load
      />
    </div>
  </div>

  {
    data.reviews.viewHome ? (
      <div class="md:w-[75%] mx-auto w-[95%] md:py-24 py-10 flex justify-center flex-col text-center">
        <h2 class="text-3xl font-bold text-gray-800 py-4">
          What our customers say
        </h2>
        <review-widget widgetId={data.reviews.urlReviews} />
      </div>
    ) : null
  }

  {
    data.videoAnimado.length > 0 ? (
      <div>
        <div
          class="flex justify-center rounded-br-[50px] h-[70vh] relative "
          style={{
            background: `url("${data.gallery[2]}")`,
            backgroundRepeat: "no-repeat",
            backgroundSize: "cover",
          }}
        >
          {/* Poner un overlay */}
          <div class="bg-black bg-opacity-70 w-full h-[70vh] absolute" />
        </div>
        <div class="mt-[-450px] z-10 relative">
          <VideoAnimado data={data} />
        </div>
      </div>
    ) : null
  }

  {data.widgets.colorPalette ? <ColorPalette /> : null}
  
  <BlockAbout data={data} aboutSection={aboutSection}  client:load/>

  <MapComponent data={data} client:visible />
</Layout>
